<div class="w-full flex space-x-3 p-3">
    <img src="{{ authorAvatar }}" class="w-16 h-16 object-cover flex-shrink-0 rounded-lg" />
    <div class="flex flex-col flex-grow">
        <div class="flex items-center space-x-2">
            <a href="https://youtube.com/channel/{{ authorEndpoint }}" 
            class="font-semibold text-2xl hover:text-blue-500 w-fit {{#isChannelOwner}}text-green-400{{/#isChannelOwner}}">
            {{ author }}
            </a>
            {{#isChannelOwner}}<span class="text-lg font-normal py-1 px-4 bg-white bg-opacity-5 rounded-sm">Creator</span>{{/#isChannelOwner}}
            <span class="opacity-70 text-lg">{{ relativeDate }}</span>
        </div>
        <span class="text-2xl">{{ content }}</span>
        <div class="flex space-x-3 items-center justify-between">
            <div class="flex space-x-3 items-center">
                {{#replyCount}}
                <span id="show-replies-{{ commentId }}" class="text-xl opacity-80 text-blue-300 hover:underline hover:text-blue-100 cursor-pointer">
                    {{ replyCount }} replies
                </span>
                {{/#replyCount}}
                {{#likes}}<span class="text-lg opacity-80">{{ likes }} likes</span>{{/#likes}}
            </div>
        </div>
        <div id="comment-replies-{{ commentId }}" class="flex flex-col space-y-3 comment-replies border-white"></div>
    </div>
</div>