@tailwind base;
@tailwind components;
@tailwind utilities;

.chip-border {
    border: 1px solid rgba(255, 255, 255, 0.1)
}

.comment-replies {
    position: relative;
}

.comment-replies::before {
    position: absolute;
    content: '';
    background-color: rgb(63, 92, 255);
    opacity: 0.1;
    width: 4px;
    top: 4px;
    left: -8px;
    bottom: 4px;
    border-radius: 2px;
}

.dark .comment-replies::before {
    background-color: white;
}

.comment-replies .show-replyTo {
    display: none;
}

.open {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 10px;
    position: relative;
    border: 4px solid rgba(0, 0, 80, 0.13);
}

.open::before {
    position: absolute;
    content: '';
    background-color: rgba(0, 108, 250, 0.3);
    width: 4px;
    top: 4px;
    left: 2px;
    bottom: 4px;
    border-radius: 2px;
}

.dark .open::before {
    background-color: white;
    opacity: 0.1;
}

.dark .open {
    background: rgba(255, 255, 255, 0.03);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border: none;
}

.light-border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dark .light-border {
    border: none;
}

.sort-up-icon, .sort-down-icon, .no-sort-icon {
    display: none;
    width: 10px;
    height: 10px;
}

.no-sort .no-sort-icon {
    display: block;
}

.sort-up .sort-up-icon {
    display: block;
}

.sort-down .sort-down-icon {
    display: block;
}

